<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/style.css}">
    <script th:src="@{js/main.js}"></script>
    <title>Caffee Shop!</title>
</head>
<body>
<div class="container-main-image"></div>
<nav class="navegacao">
    <h2 class="nm-empresa">Canto do Café</h2>
    <div class="container-nav">
        <a href="">Pedidos</a>
        <a href="">Listagem</a>
        <a href="">Edição</a>
    </div>
    
</nav>
   <img class="main-image" src="images/fazendo-cafe.webp"/>
    <div class="container-title">
        <h2 class="bem-vindo">Bem-Vindo ao Canto do Café!</h2>
        <h1 class="main-frase">Amor em forma de Café!</h1>
        <input type="button" value="Faça seu pedido já"/>
         
    </div>
    </div>


    <div class="icons">

    </div>


    <h2 class="conheca-produtos">Conheça nossos produtos</h2>

 <div class="container-produtos">
  <div class="produto-card">
    <div class="card-header">
      <img src="images/cafe-preto.jpg" alt="Café Preto">
      <span class="favorito">♡</span>
    </div>
    <h2>Café Preto</h2>
    <p>An espresso coffee drink, topped with a small layer of crema.</p>
    <div class="card-footer">
      <span class="preco">R$ 10.95</span>
      <button>Novo Pedido</button>
    </div>
  </div>


  <div class="produto-card">
    <div class="card-header">
      <img src="images/capuccino.jpg">
      <span class="favorito">♡</span>
    </div>
    <h2>Cappuccino</h2>
    <p>An espresso coffee drink, topped with a small layer of crema.</p>
    <div class="card-footer">
      <span class="preco">R$ 10.95</span>
      <button>Novo Pedido</button>
    </div>
  </div>



<div class="produto-card">
    <div class="card-header">
      <img src="images/frapuccino.jpg" alt="Café Preto">
      <span class="favorito">♡</span>
    </div>
    <h2>Café Preto</h2>
    <p>An espresso coffee drink, topped with a small layer of crema.</p>
    <div class="card-footer">
      <span class="preco">R$ 10.95</span>
      <button>Novo Pedido</button>
    </div>
  </div>


  <div class="produto-card">
    <div class="card-header">
      <img src="images/cafe-rocambole.jpg" alt="Café Preto">
      <span class="favorito">♡</span>
    </div>
    <h2>Café Preto</h2>
    <p>An espresso coffee drink, topped with a small layer of crema.</p>
    <div class="card-footer">
      <span class="preco">R$ 10.95</span>
      <button>Novo Pedido</button>
    </div>
  </div>


</div>

<div class="container-produtos">
<div class="produto-card">
    <div class="card-header">
      <img src="images/bolo-chocolate.jpg" alt="Café Preto">
      <span class="favorito">♡</span>
    </div>
    <h2>Café Preto</h2>
    <p>An espresso coffee drink, topped with a small layer of crema.</p>
    <div class="card-footer">
      <span class="preco">R$ 10.95</span>
      <button>Novo Pedido</button>
    </div>
  </div>


  <div class="container-produtos">
<div class="produto-card">
    <div class="card-header">
      <img src="images/pao-queijo.jpg" alt="Café Preto">
      <span class="favorito">♡</span>
    </div>
    <h2>Café Preto</h2>
    <p>An espresso coffee drink, topped with a small layer of crema.</p>
    <div class="card-footer">
      <span class="preco">R$ 10.95</span>
      <button>Novo Pedido</button>
    </div>
  </div>


  <div class="container-produtos">
<div class="produto-card">
    <div class="card-header">
      <img src="images/coxinha.jpg" alt="Café Preto">
      <span class="favorito">♡</span>
    </div>
    <h2>Café Preto</h2>
    <p>An espresso coffee drink, topped with a small layer of crema.</p>
    <div class="card-footer">
      <span class="preco">R$ 10.95</span>
      <button>Novo Pedido</button>
    </div>
  </div>


  <div class="container-produtos">
<div class="produto-card">
    <div class="card-header">
      <img src="images/bolo.jpg" alt="Café Preto">
      <span class="favorito">♡</span>
    </div>
    <h2>Café Preto</h2>
    <p>An espresso coffee drink, topped with a small layer of crema.</p>
    <div class="card-footer">
      <span class="preco">R$ 10.95</span>
      <button>Novo Pedido</button>
    </div>
  </div>

</div>
  </div>
  </div>



</body>
</html>